body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.produto {
    flex: 1 1 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

.secao, header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

img {
    width: 100%;
    height: auto;
}

.logo {
    width: 20%;
    height: auto;
}

.produto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.produto img {
    align-self: flex-start;
}

.produto h3{
    margin-top: auto;
    text-align: center;
}

.produto p {
    text-align: center;
}